html, body {
  height: 100%;
}

#main-container {
  padding: 30px 0;
  max-width: 500px;
  min-height: 375px;
}

#main-container .actions-column {
  display: flex;
}

.title-column {
  width: 100%
}

.title-column a {
  color: #212529;
  text-decoration: none;
}

.btn {
  margin-right: 20px;
}

.title-column a:hover {
  text-decoration: underline;
}

footer {
  height: 200px;
  width: 100%;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 425px) {
  #main-container {
    padding: 45px
  }

  #main-container td {
    height: 75px
  }

  #main-container .btn {
    height: 50px;
  }
}
